@import "../styles/index.css";

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.35);
}

h1 {
  margin-bottom: 1rem;

  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0;

  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  line-height: 2rem;

  text-align: center;
}

#search-form {
  position: relative;
  max-width: 500px;
  width: 100%;
}

#search-form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0 solid #180e04;
  border-radius: 999999999px;
  background-color: var(--text-color);
}
