@import "tailwindcss";

@import "./theme.css";

html,
body,
:root,
#app {
  width: 100%;
  min-width: 500px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

#app {
  color: var(--text-color);
  font-family: var(--text-sans);

  display: flex;
  flex-direction: column;

  background-color: var(--background);
  background-position: center;
  background-size: cover;
}
