@import "tailwindcss";

html,
body,
:root,
#app {
  width: 100%;
  min-width: 500px;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

@layer components {
  .background {
    background: var(--color-pink-200);
    background-position: center;
    background-size: cover;
  }

  @media (prefers-color-scheme: dark) {
    .background {
      background: var(--color-gray-800);
    }
  }
}
